fastapi
uvicorn[standard]
sqlalchemy
pydantic
python-dotenv
passlib[bcrypt]
pyjwt
orjson
requests
transformers==4.39.3
torch==2.1.0
psycopg2-binary
sentence-transformers
pandas
langchain
langgraph
numpy<2
